.menu-box-flex {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gray;
    width: 270px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .home-button,
  .notifications-button,
  .messages-button {
    background-color: rgb(0, 145, 255);
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    border-radius: 10px;
  }

  .home-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  .notifications-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  .messages-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }